<!DOCTYPE html>
<html>
<head>
	<title>CSCB20: Introduction To Databases and Web Applications</title>
	<!-- included favicon to display utsc logo on tab -->
	<link rel ="shortcut icon" type = "_image_/ico" href="{{ url_for('static', filename='photos/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='requestfeedback.css') }}">

	

</head>
<body >
	
	<!-- header section -->

	<div class = "header">
		
		<!-- These are the menus that will always appear at the top when scrolling -->

		<ul align = "center">
			<li><a href = "{{ url_for('index') }}"> <b>Home</b> </a></li>
			<li><a href = "{{ url_for('lecture') }}"> <b>Lectures</b></a> </li>
			<li><a href = "{{ url_for('coursework') }}"> <b>Course Work</b></a>
			<ul>

				<!-- created submenus under course work to make it more organized
				-->
				<li><a href = "{{ url_for('coursework', _anchor='assignment') }}">Assignments</a></li>
				<li><a href ="{{ url_for('coursework', _anchor='labs') }}">Labs</a></li>
				<li><a href ="{{ url_for('coursework', _anchor='tests') }}">Tests</a></li>
				<li><a href ="{{ url_for('coursework', _anchor='quizzes') }}">Quizzes</a></li>
			</ul>
		</li>

			<li><a href = 'https://piazza.com/' target="_blank"><b>Class Discussion</b> </a></li>
			<li><a href = 'https://markus.utsc.utoronto.ca/cscb20w19/?locale=en' target="_blank"><b>Markus</b> </a></li>
			<li><a href = "{{ url_for('courseteam') }}"> <b>Course Team </b></a></li>
			<li><a href = "{{ url_for('calendar') }}"> <b> Calendar </b></a></li>
			<li><a href = "{{ url_for('resources') }}"> <b> Resources </b></a></li>
			<li><a href = "{{ url_for('news') }}"> <b> News </b></a></li>
			<li><a href = "/logout"> <b> Logout </b></a></li>
		</ul>
	</div>



	<!-- only when flash is called, it should display message -->
	<div class = "flashmessage" >
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h2>{{ message }}</h2>
				{% endfor %}
			{% endif %}
			
		{% endwith %}
	</div>

	<!-- Main Section -->
	<div class = "main">
		<h2> Anonymous Feedback </h2>
		<br>
		<!-- '&ensp' is used to creeate two spaces to start new sentences -->
		<p> Here is the feedback that your students submitted.&ensp; To view it, you will need to re authenticate by including your id and <br> username below.</p>
		<br><br>
		
		<!-- inserted relevant photo -->
		<img src="{{ url_for('static', filename='photos/feedback.jpg') }}" alt = 'web app image' width = 650px>

		<div class = "authenticate">
			<form method="POST" action="{{ url_for('observefeedback') }}">
			<br><br><br>
			<b>Validate here</b>:
			<br>
			<p>Enter your id: <input type=text name="id">
			<p>Enter your username: <input type=text name="username">
			<br><br>
			<input type=submit value=Submit
				onclick="notify()">
			</form>
			</div>

	</div>

	<!-- footer section -->

	<footer>
		<a href = 'http://web.cs.toronto.edu/people/faculty.htm' target = "_blank"> UofT Faculty of Computer Science</a>
		<br>
		Site Designed by Ilyas Duale & Shamsun Nila

	</footer>

	
	<script type="text/javascript" src="{{ url_for('static', filename='inform.js') }}"></script>

	
</body>
</html>